__pycache__
.ipynb_checkpoints
simba_ml/data/*.csv
simba_ml/html
junit
report.xml
.coverage
docs/build/
venv
env
data
dist
.idea/
**/.DS_Store
**/*.egg-info
build
**/.DS_Store
coverage.xml
**/_autosummary
**/data/*.csv
**/outputs
dev.py
wandb/
lightning_logs/
*.ipynb
man