name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  Publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -r dev_requirements.txt
        pip install -r docs_requirements.txt
    - name: Build
      run: |
        make build
    - name: Publish
      run: |
        twine upload --username __token__ --password ${{ secrets.PYPI_TOKEN }} dist/*
